In [2]:
import pandas as pd

df = pd.read_csv('../data/Course_Completion_Prediction.csv')

In [3]:
print("="*70)
print(" DATA TYPES SUMMARY")
print("="*70)

# Create a detailed info dataframe
data_info = pd.DataFrame({
    'Column': df.columns,
    'Data Type': df.dtypes.values,
    'Non-Null Count': df.notnull().sum().values,
    'Null Count': df.isnull().sum().values,
    'Null %': (df.isnull().sum().values / len(df) * 100).round(2),
    'Unique Values': df.nunique().values
})

display(data_info)

print("\n" + "="*70)
print(" DATA TYPES DISTRIBUTION")
print("="*70)
print(df.dtypes.value_counts())

======================================================================
 DATA TYPES SUMMARY
======================================================================

,Column,Data Type,Non-Null Count,Null Count,Null %,Unique Values
0,Student_ID,object,100000,0,0.0,100000
1,Name,object,100000,0,0.0,300
2,Gender,object,100000,0,0.0,3
3,Age,int64,100000,0,0.0,34
4,Education_Level,object,100000,0,0.0,5
5,Employment_Status,object,100000,0,0.0,4
6,City,object,100000,0,0.0,15
7,Device_Type,object,100000,0,0.0,3
8,Internet_Connection_Quality,object,100000,0,0.0,3
9,Course_ID,object,100000,0,0.0,8
10,Course_Name,object,100000,0,0.0,8
11,Category,object,100000,0,0.0,5
12,Course_Level,object,100000,0,0.0,3
13,Course_Duration_Days,int64,100000,0,0.0,8
14,Instructor_Rating,float64,100000,0,0.0,7
15,Login_Frequency,int64,100000,0,0.0,16
16,Average_Session_Duration_Min,int64,100000,0,0.0,73
17,Video_Completion_Rate,float64,100000,0,0.0,950
18,Discussion_Participation,int64,100000,0,0.0,13
19,Time_Spent_Hours,float64,100000,0,0.0,227
20,Days_Since_Last_Login,int64,100000,0,0.0,76
21,Notifications_Checked,int64,100000,0,0.0,19
22,Peer_Interaction_Score,float64,100000,0,0.0,101
23,Assignments_Submitted,int64,100000,0,0.0,11
24,Assignments_Missed,int64,100000,0,0.0,11
25,Quiz_Attempts,int64,100000,0,0.0,17
26,Quiz_Score_Avg,float64,100000,0,0.0,714
27,Project_Grade,float64,100000,0,0.0,865
28,Progress_Percentage,float64,100000,0,0.0,824
29,Rewatch_Count,int64,100000,0,0.0,15
30,Enrollment_Date,object,100000,0,0.0,721
31,Payment_Mode,object,100000,0,0.0,6
32,Fee_Paid,object,100000,0,0.0,2
33,Discount_Used,object,100000,0,0.0,2
34,Payment_Amount,int64,100000,0,0.0,6884
35,App_Usage_Percentage,int64,100000,0,0.0,101
36,Reminder_Emails_Clicked,int64,100000,0,0.0,14
37,Support_Tickets_Raised,int64,100000,0,0.0,9
38,Satisfaction_Rating,float64,100000,0,0.0,41
39,Completed,object,100000,0,0.0,2

======================================================================
 DATA TYPES DISTRIBUTION
======================================================================
object     17
int64      15
float64     8
Name: count, dtype: int64

In [19]:


# categorical_cols = df.select_dtypes(include=['object']).columns.tolist()
categorical_cols = ['Course_Name', 'Category']


for col in categorical_cols:
    print(f"\n{'='*50}")
    print(f" {col}")
    print('='*50)
    print(df[col].value_counts())
    print(f"Nombre total de données dans la colonne {col} : {df[col].value_counts().sum()}")

======================================================================
 CATEGORICAL FEATURES - VALUE COUNTS
======================================================================

==================================================
 Course_Name
==================================================
Course_Name
Python Basics                   16807
Data Analysis with Python       15465
Introduction to AI              12702
Digital Marketing Essentials    12686
Excel for Business              12631
Machine Learning A-Z            11198
Statistics for Data Science     10025
UI/UX Design Fundamentals        8486
Name: count, dtype: int64
Nombre total de données dans la colonne Course_Name : 100000

==================================================
 Category
==================================================
Category
Programming    56172
Marketing      12686
Business       12631
Math           10025
Design          8486
Name: count, dtype: int64
Nombre total de données dans la colonne Category : 100000

In [27]:
CourseByCategorie = df.groupby(['Category', 'Course_Name']).size().reset_index(name='Count')

total = CourseByCategorie['Count'].sum()


print(CourseByCategorie)

print(f"Nombre total de données : {total}")

      Category                   Course_Name  Count
0     Business            Excel for Business  12631
1       Design     UI/UX Design Fundamentals   8486
2    Marketing  Digital Marketing Essentials  12686
3         Math   Statistics for Data Science  10025
4  Programming     Data Analysis with Python  15465
5  Programming            Introduction to AI  12702
6  Programming          Machine Learning A-Z  11198
7  Programming                 Python Basics  16807
Nombre total de données : 100000